@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
@import url(./conteudo.css);
@import url(./cabecalho.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

body {
    background: linear-gradient(68.15deg, #363449 16.62%, #2B293F 85.61%);
    color: #fff;
    font-size: 1.6rem;
    font-family: 'Sarala', sans-serif;
    font-weight: 700;
}

.conteudo-paginas h2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    font-size: 5rem;
}

.conteudo-paginas{
    padding: 5rem;
    text-align: justify;
}

footer{
    background-color: #353338;
    color: #fff;
    padding: 7rem;
    text-align: center;
}

.social-media img{
    max-width: 12rem;
    padding: 2rem;
}


@media (max-width: 670px){
    .cabecalho a{
        font-size: 2rem;
    }

}

@media (max-width: 600px){
    .cabecalho a{
        font-size: 1.8rem;
    }

    .cabecalho img{
        width: 10rem;
    }

}

@media (max-width: 560px){
    .cabecalho a{
        font-size: 1.6rem;
    }

    .social-media img{
        max-width: 10rem;
    }

}

@media (max-width: 480px){
    .cabecalho a{
        font-size: 1.4rem;
    }

    .cabecalho img{
        width: 8rem;
    }

    .social-media img{
        max-width: 8rem;
        padding: 1rem;
    }

}

@media(max-width: 425px){
    .cabecalho{
        flex-direction: column;
    }

    .cabecalho nav{
        flex-wrap: nowrap;
    }

    .cabecalho a{
        font-size: 1.4rem;
        padding: 2rem;
        text-align: center;
        padding-bottom: 0;
        padding-top: 0;
    }
    
    .cabecalho img{
        padding-bottom: 2rem;
    }

    .social-media img{
        max-width: 6.5rem;
        padding: 1rem;
    }
}

@media (max-width: 735px){
    .conteudo h2{
        text-align: center;
        padding: 2rem;
        font-size: 4rem;
    }
    
    .conteudo-principal{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .games{
        max-width: 100%;
        padding: 2rem;
    }
    .mobile{
        max-width: 100%;
        padding: 2rem;
    }
    .tech{
        max-width: 100%;
        padding: 2rem;
    }
}

@media(max-width: 345px){
    .social-media img{
        max-width: 4rem;
        padding: 1rem;
        
    }
}

@media(max-width: 300px){
    .cabecalho a{
        font-size: 1.0rem;
    }

    .social-media img{
        max-width: 4rem;
        padding: 1rem;
        
    }
}
